.navbar {
  padding: 1rem 0;
}

.navbar-nav .nav-link {
  display: inline-block;
  text-align: center;
  width: auto;
  font-weight: 600;
  font-size: 16px;
  color: #0e0e0ff2;
  margin-left: 20px;
  position: relative;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #2207ed;
}

.navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 0;
  margin: 5px auto 0 auto;
  border-bottom: 2px solid #4a69fd;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 70%;
}

section {
  padding: 100px 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 32px;
}
